/* src/styles/colors.css */

/* Основные цвета (из изображения) */
:root {
    --color-light: #d5dbda;
    --color-gray-light: #A1A2AB;
    --color-gray-medium: #575669;
    --color-gray-dark: #3B3A4A;
    --color-dark: #312f3b;
    --color-purple-dark: #595168;
  
    /* Дополнительные цвета */
    --primary-color: var(--color-gray-light);  /* Основной цвет */
    --secondary-color: var(--color-gray-medium); /* Второстепенный */
    --background-color: var(--color-dark); /* Фон */
    --text-color: var(--color-light); /* Цвет текста */
    --error-color: #dc3545; /* Ошибки */
    --success-color: #28a745; /* Успешные действия */
    --warning-color: #ffc107; /* Предупреждения */
  
    /* Отступы */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
  
    /* Закругления */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 12px;
  
    /* Тени */
    --shadow-light: 0px 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0px 6px 10px rgba(0, 0, 0, 0.15);
    --shadow-dark: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
  