.month-selector {
  display: flex;
  align-items: center;
  width: 260px;
  justify-content: space-between;
  font-size: 1.3rem;
  color: var(--color-white);
  margin: 0 auto 15px auto;
}

.month-selector span {
  flex: 1;
  text-align: center;
  white-space: nowrap;
}

.month-selector button {
  flex: 0 0 32px;
  background: transparent;
  border: none;
  color: var(--color-white);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
}

.month-selector button:hover {
  opacity: 0.75;
}
