.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex: 1;
  min-height: 0;
  background-color: var(--secondary-color);
}

.content {
  display: flex;
  flex: 1;
  min-width: 0;
  overflow: auto;
  background-color: var(--secondary-color);
  padding: var(--spacing-medium);
}
