/* src/components/ExpensesTable/ExpensesTable.css */
.incomes-table-container {
    overflow-x: auto;
    margin: 20px 0;
}
  
.incomes-table-container {
    overflow-x: auto;
    margin: 20px 0;
    width: 100%;
}
  
.ag-theme-quartz-dark {
    font-size: 14px;
    border-radius: 8px;
}
  
.incomes-table th {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    padding: 10px;
}
  
.incomes-table th:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
  
.incomes-table {
    width: 100%;
    border-collapse: collapse;
    color: #ddd;
    background-color: #333;
}
  
.incomes-table th, .incomes-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}
  
.incomes-table th {
    background-color: #222;
    font-weight: bold;
}
  
.incomes-table tr:nth-child(even) {
    background-color: #3a3a3a;
}
  
.incomes-table tr:hover {
    background-color: #444;
}
  
.category-tag, .type-tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.9em;
    color: #fff;
}

.category-tag.expense { background-color: #a52a2a; }
.category-tag.income { background-color: #2e8b57; }
.type-tag.transaction { background-color: #888; }