/* src/pages/BudgetPlanPage/PlanItemsTable.css */

.plan-items-table-container {
    overflow-x: auto;
  }
  
  .plan-items-table {
    width: 100%;
    border-collapse: collapse;
    color: #ddd;            /* светлый текст */
    background-color: #333; /* темный фон */
    font-size: 0.95rem;
  }
  
  .plan-items-table th,
  .plan-items-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
  }
  
  .plan-items-table th {
    background-color: #222;
    font-weight: bold;
  }
  
  .plan-items-table tr:nth-child(even) {
    background-color: #3a3a3a;
  }
  