.event-details-inline {
  display: flex;
  gap: 80px;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.event-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-white);
  margin-right: 10px;
}

.event-period,
.event-amount,
.event-spent,
.event-remaining,
.event-description {
  color: var(--color-gray-lightest);
  font-size: 1rem;
}
.event-period strong,
.event-amount strong,
.event-spent strong,
.event-remaining strong,
.event-description strong {
  color: var(--color-white);
}
