.plan-details-inline {
  display: flex;
  gap: 80px;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.plan-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-white);
  margin-right: 10px;
}

.plan-period,
.plan-type,
.plan-description {
  color: var(--color-gray-lightest);
  font-size: 1rem;
}
.plan-period strong,
.plan-type strong,
.plan-description strong {
  color: var(--color-white);
}
